<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.google.app.board.notice.NoticeMapper">
	<select id="getCount" resultType="Long">
		SELECT COUNT(BOARD_NUM) FROM TB_NOTICE
	</select>

	<!-- list -->
	<select id="list" resultType="NoticeDTO" parameterType="Pager">
	<![CDATA[
		SELECT * FROM
		(SELECT ROWNUM R, T.* FROM
			(SELECT * FROM TB_NOTICE ORDER BY BOARD_NUM DESC) T
		)
		WHERE R BETWEEN #{first} AND #{last}
		]]>
	</select>

	<!-- create -->
	<insert id="create" parameterType="NoticeDTO">
		INSERT INTO TB_NOTICE
		VALUES (BOARD_SEQ.NEXTVAL, #{boardTitle}, #{boardContents}, #{boardWriter},
		SYSDATE, 0)
	</insert>

</mapper>