<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.google.app.board.notice.NoticeMapper">
	<!-- list -->
	<select id="list" resultType="NoticeDTO">
	<![CDATA[
		SELECT * FROM TB_NOTICE
		WHERE BOARD_NUM > (SELECT MAX(BOARD_NUM)-10 FROM TB_NOTICE)
		AND BOARD_NUM <= (SELECT MAX(BOARD_NUM) FROM TB_NOTICE)
		ORDER BY BOARD_NUM DESC
		]]>
	</select>

	<!-- create -->
	<insert id="create" parameterType="NoticeDTO">
		INSERT INTO TB_NOTICE
		VALUES (BOARD_SEQ.NEXTVAL, #{boardTitle}, #{boardContents}, #{boardWriter},
		SYSDATE, 0)
	</insert>

</mapper>